/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

storage/
composer.lock
composer.lock
log.csv
nbproject/private/private.xml
nbproject/project.properties
.idea/deployment.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/php.xml
.idea/phpunit.xml
.idea/simpin.iml
.idea/vcs.xml
.rnd
.rnd
