/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 18, 2020, 4:23:15 PM
    Author     : hakim
*/

.breadcrumb li{
    font-size: 1rem;
}

.box-custom{
    border-radius: 0 !important;
    border: 1px solid #dddddd !important;
    box-shadow: none !important;
}

.brand-image{
    width: 33px !important;
    height: 33px !important;
    object-fit: cover;
    object-position: center;
}

.user-image{
    object-fit: cover;
    object-position: center;
}